form {
	margin-top: 100px;
	text-align: center;
}

#label {
	text-align: center;
	margin-top: 50px;
}

.input-box {
	width: 50%;
}

.move-top {
	margin-top: -30px;
}

.top-left {
	text-align: left;
	margin-left: 35px;
}

#result_space {
	text-align: center;
	margin-top: 50px;
}

p {
	text-align: center;
	font-size: 15px;
	padding: 40px;
}

img {
  	width: 150px;
  	-o-object-fit: contain;
}